In [1]:
mylist = [1,2,3]

In [5]:
#range operator
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [7]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [13]:
#enumerate
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [22]:
#zip
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [23]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [25]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [26]:
#in
'x'in [1,2,3]

False

In [27]:
'x' in ['x','y','z']

True

In [28]:
'a' in 'a word'

True

In [29]:
'mykey'in {'mykey': 345}

True

In [31]:
d = {'mykey': 345}
345 in d.values()

True

In [32]:
d = {'mykey': 345}
345 in d.keys()

False

In [33]:
# min and max
mylist = [10,20,30,40,100]

In [34]:
min(mylist)

10

In [35]:
max(mylist)

100

In [36]:
# random
from random import shuffle

In [37]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [38]:
shuffle(mylist)

In [39]:
mylist

[5, 1, 4, 9, 3, 6, 2, 7, 10, 8]

In [40]:
from random import randint

In [43]:
randint(0,100)

60

In [44]:
mynum = randint(0,10)

In [45]:
mynum

2

In [50]:
#input
result = input('What is your name:')

What is your name:Tiago

result

In [51]:
type(result)

str